<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="PMConnectionString" connectionString="Data Source=localhost\SQLEXPRESS2019; Initial Catalog=iPIMS-DM-ONTB; Integrated Security=false; User ID=sa; Password=itrust@123; Trusted_Connection=True; Timeout=240;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Domain" value="ONTB"/>
  </appSettings>
</configuration>